<!-- Template: Beacon Blog Concept -->
<head>
	<title><%- site.title %> &mdash; <%- page.title %></title>
	<%- snippet('headerStuff') %>
</head>

<body class="<%- page.bodyClass %>">

	<header>
		<h1>
			<!-- how to use conditionals -->
			<% if (page.isHome) { ?><a><% } %>
				Site Title
			<% if (page.isHome) { ?></a><% } %>
		</h1>
	</header>
	
	<nav>
		<ul>
			<!-- how to call a page snippet -->
			<% snippet('menu', 'headerNav') %>
		</ul>
	</nav>
	
	<div id="content">
	
		<!-- how to run the post loop -->
		
		<% if (posts.hasPosts) { %>    

			<% if (page.isArchive) { %>
				<h1><%- page.title %></h1>					        
			<% } %>

			<% posts.forEach() { %>

				<h2><a href="<%- post.permalink %>" title="<%- post.title %>"><%- post.title %></a></h2>
				<h3>by <%- post.author %> on <%- post.date('m d, y') %></h3>

				<%- post.content({'limit': 50, 'link': 'Read More...'}) ->

				<small><% snippet('commentCount') %></small>

				<!-- how to display a featured img -->
				<img class="thumb" src="<%- post.featuredImg('thumb') %>" alt="" />

			<% } %>
			
 		<% } else snippet('error'); %>
 		
 	</div>
 	
 	<aside id="sidebar">
 	
 		<section>
 	
	 		<!-- how to query multiple loops -->
	 	
	 		<h4>Popular Posts</h4>
	 	
	 		<% posts.query('{ 'orderBy' : 'popularity', 'num' : 5 }'); %>
	 		
	 		<ul>
		 		
				<% posts.forEach() { %>
					<li><a href="<%- post.permalink %>"><%- post.title %></a></li>
				<% } %>
				
			</ul>
			
			<% posts.reset(); %>
		
		</section>
		
		<section>
		
			<!-- how to query custom post types -->
	
	 		<h4>Recent Portfolio Items</h4>
	 	
	 		<% var items = posts.query('{ 'postType': 'portfolio', 'orderBy' : 'recent', 'num' : 3 }'); %>
	 		
	 		<ul>
	 		
				<% items.forEach() { %>			
					<li>
					
						<a href="<%- item.permalink %>">
							<img src="<%- item.featuredImg('thumb') ">
							<h6><%- item.title %></h6>
						</a>
						
						<!-- how to display custom fields -->
						<% if (item.fields.client) { >
							<em>for <%- item.fields.client -></em>
						<% } %>
						
					</li>
				<% } %>
			
			</ul>
			
			<% items.reset(); %>
		
		</section>
		
		<section>

			<!-- quick post query -->
		
			<h6><%- query('about', 'title')</h6>
			
			<%- query('about', 'content') %>
			
			<p><a href="<%- query('about', 'permalink') %>">Read More</a></p>
		
		</section>
 	
 	</aside>
 	
 	<footer>
 		<p><%- site.footerText %></p>
 		<%- snippet('menu'), footerNav %>
 	</footer>
 	
 	<%- snippet('footerAssets') %>
 </body>
 </html>