<%

// snippet loader

	function snippet(partial, filename, args) {
		if (_.isArray(filename)) {
			console.log('isArray');
			return _.reduce(filename, function(memo, fn) {
				var filepath = 'snippets/'+fn;
				return memo + partial(filepath);
			}, "");
		} else if (filename) {
			var filepath = 'snippets/'+filename;
			if (args) {
				if ( _.isString('args') || _.isNumber('args') ) {
					args = { 'id' : args }
				}
				//console.log(args);
				return partial (filepath, args);
			} else {
				//console.log (filepath);
				return partial (filepath);
			}
		}
	}

%>
<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>

		<%- partial('snippets/viewport') %>
		
		<%- assets.css() %>
		
		<%- partial('snippets/conditionizr') %>
		<%- partial('snippets/jquery') %>
		<%- partial('snippets/require') %>
		
	</head>

	<body>		
		<%- body %>
		<%- snippet(partial, ['lipsum', 'lipsum']) %>

		<%- assets.js() %>
		<%- assets.templateLibrary() %>
		<%- partial('snippets/ga.ejs', { 'id' : 'XX-XXXXXXX' }) %>		
	</body>
</html>
