<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>

		<%- partial('snippets/viewport') %>
		
		<%- assets.css() %>
		
		<%- partial('snippets/conditionizr') %>
		<%- partial('snippets/jquery') %>
		<%- partial('snippets/require') %>
				
		<script>
		  /*require(['jquery'], function ($) {
		    // embedded js goes here
		  });*/
		</script>
				
	</head>

	<body>
		<%- body %>

		<%- assets.js() %>
		<%- assets.templateLibrary() %>
		<%- partial('snippets/google-analytics', { code : 'XX-XXXXXXX' }) %>	

	</body>
</html>
